.chat-app-container {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.message-history {
  width: 260px;
  padding: 10px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  --tw-bg-opacity: 1;
  background-color: rgba(32, 33, 35, var(--tw-bg-opacity));
}

.message {
  background-color: #f1f1f1;
  margin-bottom: 8px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.timestamp {
  font-size: 12px;
  color: #888;
}

.chat-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  padding: 10px;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
}

input {
  height: 40px;
  padding: 5px;
  margin-bottom: 10px;
}

.chat-input {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 70%;
  position: relative;
}

input {
  flex: 1;
  height: 40px;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #40414f;
  border-color: none;
  border-radius: 5px;
  padding: 5px 45px;
  color: white;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}

button {
  width: 40px;
  height: 40px;
  color: #fff;
  border: none;
  top: 5px;
  background: no-repeat;
  right: 10px;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-menu-button {
  padding: 15px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  text-align: start;
  cursor: pointer;
}
.side-menu-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.side-menu-button span {
  padding-left: 6px;
  padding-right: 12px;
}
.chat-log {
  text-align: left;
  color: white;
}
.chat-msg-response {
  background-color: rgba(255, 255, 255, 0.1);
}
.chat-msg-center {
  padding: 22px 40px;
  display: flex;
  margin: 0 auto;
  width: 70%;
  align-items: center;
}
.chat-avtar {
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.chat-avtar-response {
  background-color: #0da37f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.chat-msg {
  padding: 0px 40px;
}
.dash-title {
  text-align: center;
  color: white;
  height: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.common-que-flex {
  display: flex;
  align-items: flex-start;
  color: white;
  justify-content: space-evenly;
}
.chat-log-title {
  text-align: center;
  font-size: 20px;
  color: white;
}
.chat-avatar-user {
  background: white;
  padding: 5px;
  border-radius: 50px;
}
.chat-avatar-response {
  background: white;
  padding: 5px;
  border-radius: 50px;
}
